{
  "env": {
    "v7": {
      "presets": [
        "@babel/preset-typescript",
        "@babel/preset-stage-3",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "8.9"
            }
          }
        ]
      ]
    },
    "v6": {
      "presets": [
        "flow",
        "stage-3",
        [
          "env",
          {
            "targets": {
              "node": "8.9"
            }
          }
        ]
      ]
    }
  }
}
