node_modules
coverage
.nyc_output
.eslintcache
dist
parse-commit-message

# npm >=5 lock file (& shrinkwrap), we use Yarn!
package-lock.json
npm-shrinkwrap.json

# Packages #
# ##########
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# node-waf configuration
.lock-wscript

# OS, Logs and databases #
# #########################
logs
*.log
*.log*
*.dat
*.sql
*.sqlite
*~
~*
.DS_Store*

# dotenv environment variables file
.env
.pem
*.pem
